<%= form_for(@channel) do |f| %>
  <% if @channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% @channel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: 'title-episode-bold'%><br>
    <%= f.text_field :name, :autofocus => true, :class => "form-control field-normal" %>
  </div>
  
  <div class="field">
    <%= f.label :code, class: 'title-episode-bold'%><br>
    <%= f.text_field :code, :class => 'form-control field-normal' %>
  </div>
  <div class="field">
    <%= f.label :channel_type_id, "Channel Type", class: 'title-episode-bold'%><br>
    <%= f.collection_select :channel_type_id, ChannelType.all, :id, :name, :class => 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit nil, :class => "btn btn-default"  %>
  </div>
<% end %>
