<% content_for(:title) do%>
	Channels: Sky Clarity Media Management
<% end %>

<h3 class="title-episode-bold">Channels</h3>

<%= form_tag channels_path, :method => 'get', :class => 'form-inline' do %>
    <span class="input-group-btn">
        <%= text_field_tag :search, params[:search], {:class => 'form-control field-title-search', :placeholder => "Search", :autofocus => true} %>
        <%= button_tag type: 'submit', :class => 'btn btn-default' do %>
            <i class='glyphicon glyphicon-search'></i>
        <% end %>
        <%= button_tag "Clear", type: :button, :class => 'btn btn-default', :onclick =>'document.getElementById("search").value=""' %>
    </span>
<% end %>

<%= my_paginate @channels %>

<table class="table table-condensed">
  <thead>
    <tr>
      <th class='title-episode-bold'>Name</th>
      <th class='title-episode-bold'>Code</th>
      <th class='title-episode-bold'>Channel Type</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= link_to channel.name, edit_channel_path(channel) %></td>
        <td><%= channel.code %></td>
        <td><%= channel.channel_type.name unless channel.channel_type.nil? %></td>
        <td class='table-links'><%= link_to 'Show', channel %> <%= link_to 'Edit', edit_channel_path(channel) %> <%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= my_paginate @channels %>
<br>

<%= link_to 'New Channel', new_channel_path %>
