<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title title-episode-bold">
        <a data-toggle="collapse" href="#channels-add">Add Channel (TX and Promo)</a>
      </h3>
      <% if @clip_type.channel_add_show %>
        <div id="channels-add" class="panel-collapse collapse in">
      <% else %>
        <div id="channels-add" class="panel-collapse collapse">
      <% end %>

        <%= form_tag @clip_type, :method => 'get', :class => 'form-inline', :remote => true do %>
          <span class="input-group-btn">
              <%= text_field_tag :search, params[:search], {:class => 'form-control field-title-search', :placeholder => "Search", :autofocus => true} %>
              <%= button_tag type: 'submit', :class => 'btn btn-default', :name => nil do %>
                  <i class='glyphicon glyphicon-search'></i>
              <% end %>
              <%= button_tag "Clear", type: :button, :class => 'btn btn-default', :onclick =>'document.getElementById("search").value=""' %>
          </span>
        <% end %>
        <div id = 'clip-type-channels'>
          <table class="table table-condensed">
            <tbody>
              <% @channels.each do |channel| %>
                <tr>
                  <td><%= channel.name %></td>
                  <td><%= link_to 'Add TX',  add_tx_channel_clip_type_path(id: @clip_type, channel_id: channel) %></td>
                  <td><%= link_to 'Add Promo', add_promo_channel_clip_type_path(id: @clip_type, channel_id: channel)%>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>