<% content_for(:title) do%>
	Clip Types: Sky Clarity Media Management
<% end %>

<h3 class="title-episode-bold">Clip Types</h3>

<table class="table table-condensed">
  <thead class='title-episode-bold'>
    <tr>
      <th>Name</th>
      <th>Default Duration</th>
      <th>Default Has Audio</th>
      <th>Device(s)<th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  
    <% @clip_types.each do |clip_type| %>
      <tr>
        <td><%= clip_type.name %></td>
        <td><%= clip_type.default_duration %></td>
        <td><%= clip_type.default_has_audio_display %></td>
        <td>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title title-episode-bold">
                  <a data-toggle="collapse" href="#device-types-index"><%= pluralize(clip_type.device_types.count, 'Device Type') %></a>
                </h3>
                <div id="device-types" class="panel-collapse collapse in">
                  <table class="table table-condensed">
                    <tbody>
                      <% clip_type.device_types.each do |device| %>
                        <tr>
                          <td><%= device.name %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td class='table-links'><%= link_to 'Show', clip_type %> <%= link_to 'Edit', edit_clip_type_path(clip_type) %> <%= link_to 'Destroy', clip_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clip Type', new_clip_type_path %>
