<% content_for(:title) do%>
	  Clip Type: Sky Clarity Media Management
<% end %>

<div class='title-episode-bold'><b>Clip Type</b></div>

<p>
  <div class='title-episode-bold'><b>Name</b></div>
  <div class='title-normal-condensed'><%= @clip_type.name %></div>
</p>

<p>
  <div class='title-episode-bold'><b>Description</b></div>
  <div class='title-normal-condensed'><%= @clip_type.description %></div>
</p>

<p>
  <div class='title-episode-bold'><b>Default Duration (seconds)</b></div>
  <div class='title-normal-condensed'><%= @clip_type.default_duration %></div>
</p>

<p>
  <div class='title-episode-bold'><b>Default Has Audio</b></div>
  <div class='title-normal-condensed'><%= @clip_type.default_has_audio_dusplay %></div>
</p>

<%= link_to 'Edit', edit_device_type_path(@clip_type) %> |
<%= link_to 'Back', :back %>
