<% content_for(:title) do%>
	  Clip Type: Sky Clarity Media Management
<% end %>

<div class='title-episode-bold'><b>Clip Type</b></div>

<p>
  <div class='title-episode-bold'><b>Name</b></div>
  <div class='title-normal-condensed'><%= @clip_type.name %></div>
</p>

<p>
  <div class='title-episode-bold'><b>Description</b></div>
  <div class='title-normal-condensed'><%= @clip_type.description %></div>
</p>

<p>
  <div class='title-episode-bold'><b>Default Duration (seconds)</b></div>
  <div class='title-normal-condensed'><%= @clip_type.default_duration %></div>
</p>

<p>
  <div class='title-episode-bold'><b>Default Has Audio</b></div>
  <div class='title-normal-condensed'><%= @clip_type.default_has_audio_display %></div>
</p>

<div class='row'>
  <div class='col-xs-6'>
    <table class="table">
      <thead class='title-episode-bold'>
          <tr>
              <th>Device Type(s)</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
        <% @clip_type.device_types.each do |device| %>
          <tr>
            <td><%= device.name %></td>
            <td class='table-links'><%= link_to 'Remove', remove_device_type_clip_type_path(id: @clip_type, device_id: device) %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



<%= link_to 'Edit', edit_device_type_path(@clip_type) %> |
<%= link_to 'Back', :back %>

<div class='row'>
  <div class='col-sm-6'>
    <h3 class="title-episode-bold">Device Types</h3>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th class='title-episode-bold'>Name</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @device_types.each do |device| %>
          <tr>
            <td><%= link_to device.name, add_device_type_clip_type_path(id: @clip_type, device_id: device) %></td>
            <td><%= link_to 'Add to the Clip Type',  add_device_type_clip_type_path(id: @clip_type, device_id: device) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class='col-sm-6'>
    <h3 class="title-episode-bold">Channels</h3>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th class='title-episode-bold'>Name</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @channels.each do |channel| %>
          <tr>
            <td><%= channel.name) %></td>
            <td><%= link_to 'Add as TX Channel',  add_tx_channel_clip_type_path(id: @clip_type, channel_id: channel) %></td>
            <td><%= link_to 'Add as Promotion Channel', add_promo_channel_clip_type_path(id: @clip_type, channel_id: channel)%>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
