<% content_for(:title) do%>
	  Clip Type: Sky Clarity Media Management
<% end %>

<h3 class="title-episode-bold">Clip Type</h3>
<%= link_to 'Edit this Clip Tyoe', edit_clip_type_path(@clip_type) %> |
<%= link_to 'Clip Type List', clip_types_path %>

<p>
  <div class='title-episode-bold'><b>Name</b></div>
  <div class='title-normal-condensed'><%= @clip_type.name %></div>
</p>

<p>
  <div class='title-episode-bold'><b>Description</b></div>
  <div class='title-normal-condensed'><%= @clip_type.description %></div>
</p>

<p>
  <div class='title-episode-bold'><b>Default Duration (seconds)</b></div>
  <div class='title-normal-condensed'><%= @clip_type.default_duration %></div>
</p>

<p>
  <div class='title-episode-bold'><b>Default Has Audio</b></div>
  <div class='title-normal-condensed'><%= @clip_type.default_has_audio_display %></div>
</p>

<div class='row'>
  <div class='col-sm-4'>
    <%= render 'tx_channel_data'%>
  </div>
  <div class='col-sm-4'>
    <%= render 'promo_channel_data'%>
  </div>
  <div class='col-sm-4'>
    <%= render 'device_type_data'%>
  </div>
</div>

<div class='row'>
  <div class='col-sm-6'>
    <%= render 'channel_add'%>
  </div>
  <div class='col-sm-6'>
    <%= render 'device_type_add'%>
  </div>
</div>
