<% content_for(:title) do%>
	<%= 'Sign Up: Sky Clarity Media Management' %>
<% end %>

<div class='title-episode-bold'><b>Sign Up</b></div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, class: 'title-episode-bold' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control field-normal' %>
  </div>

  <div class="field">
    <%= f.label :password, class: 'title-episode-bold' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: 'title-episode-bold' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-default' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
