<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title title-episode-bold">
        <a data-toggle="collapse" href="#bss-add">Add Episode</a>
      </h3>
      <% if @clip.bss_add_show %>
        <div id="bss-add" class="panel-collapse collapse in">
      <% else %>
        <div id="bss-add" class="panel-collapse collapse">
      <% end %>
        <%= form_tag @clip, :method => 'get', :class => 'form-inline', :remote => true do %>
          <span class="input-group-btn">
            <%= text_field_tag :search_bss, params[:search_bss], {:class => 'form-control field-title-search', :placeholder => "Search", :autofocus => true} %>
            <%= button_tag type: 'submit', :class => 'btn btn-default' do %>
              <i class='glyphicon glyphicon-search'></i>
            <% end %>
            <%= button_tag "Clear", type: :button, :class => 'btn btn-default', :onclick =>'document.getElementById("search_bss").value=""' %>
          </span>
        <% end %>
        <div id = 'bss-titles-list'>
          <%= render 'bss_titles'%>
        </div>
      </div>
    </div>
  </div>
</div>
