<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title title-episode-bold">
        <a data-toggle="collapse" href="#bss-add">Add Episode</a>
      </h3>
      <% if @clip_type %>
        <% my_clip = @clip_type %>
        <% my_source = :clip_type %>
      <% elsif @clip %>
        <% my_clip = @clip %>
        <% my_source = :clip %>
      <% end %>

      <%= form_tag my_clip, :method => 'get', :class => 'form-inline', :remote => true do %>
        <span class="input-group-btn">
          <%= text_field_tag :search_bss, params[:search_bss], {:class => 'form-control field-title-search', :placeholder => "Search", :autofocus => true} %>
          <%= button_tag type: 'submit', :class => 'btn btn-default' do %>
            <i class='glyphicon glyphicon-search'></i>
          <% end %>
          <%= button_tag "Clear", type: :button, :class => 'btn btn-default', :onclick =>'document.getElementById("search").value=""' %>
        </span>
      <% end %>
        
      <% if my_clip.bss_add_show %>
        <div id="bss-add" class="panel-collapse collapse in">
      <% else %>
        <div id="bss-add" class="panel-collapse collapse">
      <% end %>
        <table class="table table-condensed">
          <tbody>
            <% @bss_ids.each do |bss| %>
              <tr>
                <td><%= link_to bss.bss_title_id, add_bss(my_clip, bss, params) %></td>
                <td><%= bss.episode.title_description unless bss.episode.nil? %></td>
                <td><%= link_to 'Add', add_bss(my_clip, bss, params) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
