<%= form_for(@user, :html => { class: 'form-group'}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <div class="field">
    <%= f.label :name, class: 'title-episode-bold'%>
    <%= f.text_field :name, :autofocus => true, :class => "form-control field-full" %>
  </div>
  </p>
  <p>
  <div class="field">
    <%= f.label :role, class: 'title-episode-bold' %>
    <%= f.text_field :role, :class => "form-control field-full" %>
  </div>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
