<% content_for(:title) do%>
	Users: Sky Clarity Media Management
<% end %>

<h3 class="title-episode-bold">Users</h3>

<table class="table">
  <thead>
    <tr>
      <th class='title-episode-bold'>Name</th>
      <th class='title-episode-bold'>Email</th>
      <th class="title-episode-bold">Role</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= 'Admin' if user.admin %></td>
        <% if current_user && current_user.admin %>
          <td class='table-links'><%= link_to 'Show', user %> <%= link_to 'Edit', edit_user_path(user) %> <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user && current_user.admin %>
  <%= link_to 'New User',  new_user_registration_path %>
<% else %>
  You need to be logged in as an Admin to create and edit users
<% end %>
