<% content_for(:title) do%>
	Device Types: Sky Clarity Media Management
<% end %>


<h3 class="title-episode-bold">Device Types</h3>

<table class="table table-condensed">
  <thead>
    <tr>
      <th class="title-episode-bold">Name</th>
    </tr>
  </thead>

  <tbody>
    <% @device_types.each do |device_type| %>
      <tr>
        <td><%= device_type.name %></td>
        <td class='table-links'><%= link_to 'Show', device_type %> <%= link_to 'Edit', edit_device_type_path(device_type) %> <%= link_to 'Destroy', device_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device type', new_device_type_path %>
