<% if @episode.title.title %>
  <% content_for(:title) do%>
    <%= 'Editing Episode : ' + @episode.title.title + ': Sky Clarity Media Management' %>
  <% end %>
  <p>
    <div class='title-episode-bold'><b>Editing Episode</b></div>
    <div class='title-normal'><%= @episode.title.title %></div>
  </p>
<% else %>
  <% content_for(:title) do%>
    Editing Episode: Sky Clarity Media Management
  <% end %>
  <div class='title-episode-bold'><b>Editing Episode</b></div>
<% end %>


<%= render 'form' %>

<%= link_to 'Show', @episode %> |
<%= link_to 'Back', :back %>
