<% content_for(:title) do%>
	  Episode: <%= @episode.title.title || @episode.episode_title %> Sky Clarity Media Management
<% end %>

<p>
  <label>Title</label>
  <%= @episode.title.title unless @episode.title.nil? %>
</p>

<div class='title-episode-bold'>
  <p>
    <b>Episode Title</b><br/>
    <%= @episode.episode_title %>
  </p>
  <p>
    <b>Season</b><br/>
    <%= @episode.season %>
  </p>
  <p>
    <b>Episode</b><br/>
    <%= @episode.episode %>
  </p>
  <p>
    <b>Year</b><br/>
    <%= @episode.year %>
  </p>
</div>      

<div class="table-responsive" >
  <table class="table">
      <thead class='title-episode-bold'>
          <tr>
              <th class='col-xs-1'>BSS Title ID</th>
              <th class='col-xs-1'></th>
              <th class='col-xs-1'></th>
              <th class='col-xs-9'></th>
          </tr>
      </thead>

      <tbody>
          <% @episode.bss_title_ids.each do |bss| %>
              <tr>
                  <td><b><%= link_to bss.bss_title_id, edit_bss_title_id_path(bss, source: :episode_show) %></b></td>
                  <td><%= link_to 'Edit', edit_bss_title_id_path(bss, source: :episode_show) %></td>
                  <td><%= link_to 'Destroy', bss_title_id_path(bss, source: :episode_show), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <td></td>
              </tr>
          <% end %>
      </tbody>
  </table>
</div>
<p>
  <%= link_to 'Add a BSS Title ID', action: :add_bss_title_id, id: @episode, source: :episode_show %>
</p>


<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
