<% content_for(:title) do%>
	  Episode: <%= @episode.title.title || @episode.episode_title %> Sky Clarity Media Management
<% end %>

<p>
  <div class='title-episode-bold'><b>Title</b></div>
  <div class='title-normal'><%= @episode.title.title unless @episode.title.nil? %></div>
</p>

<p>
  <label class='title-episode-bold-condensed'>Episode Title</label>
  <%= @episode.episode_title %>

  <% if @episode.season.present? %>
    <label class='title-episode-bold-condensed'>Season</label>
    <%= @episode.season %>
  <% end %>

  <% if @episode.episode.present? %>  
    <label class='title-episode-bold-condensed'>Episode</label>
    <%= @episode.episode %>
  <% end %>

  <% if @episode.year.present? %>
    <label class='title-episode-bold-condensed'>Year</label>
    <%= @episode.year %>
  <% end %>
</p>


<div class='row'>
  <div class='col-sm-12'>
    <table class="table">
        <thead class='title-episode-bold'>
            <tr>
                <th>BSS Title ID</th>
                <th>Channel(s)</th>
                <th>Clip(s)</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <% @episode.bss_title_ids.each do |bss| %>
                <tr>
                    <td><b><%= link_to bss.bss_title_id, edit_bss_title_id_path(bss, source: :episode_show) %></b></td>
                    <td>
                      <table>
                        <tbody>
                          <% bss.channels.each do |channel| %>
                            <tr><td><%= channel.name %></td></tr>
                          <% end %>
                        </tbody>
                      </table>
                    </td>
                    <td>
                      <table>
                        <tbody>
                          <% bss.clips.each do |clip| %>
                            <tr>
                              <td><%= clip.name %></td>
                            </tr>
                          <% end %>
                          <tr>
                            <td><%= form_tag(new_clip_path, {:method => :get}) do %>
                                  <%= collection_select(:clip_type, :id, ClipType.all, :id, :name, {class: 'form-control'}) %>
                                  <%= hidden_field_tag :bss_id , bss.id %>
                                  <button type = "submit" class = "btn btn-default"> New Clip</button>
                                <% end %>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td class='table-links'><%= link_to 'Show', bss %> <%= link_to 'Edit', edit_bss_title_id_path(bss, source: :episode_show) %> <%= link_to 'Destroy', bss_title_id_path(bss, source: :episode_show), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
  </div>
</div>

<br/>
<p>
  <%= link_to 'Add a BSS Title ID', action: :add_bss_title_id, id: @episode, source: :episode_show %>
</p>


<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', :back %>
