<% content_for(:title) do%>
	  Episode: <%= @episode.title.title || @episode.episode_title %> Sky Clarity Media Management
<% end %>

<p>
  <label class='title-episode-bold-condensed'>Title</label>
  <%= @episode.title.title unless @episode.title.nil? %><br/>

  <label class='title-episode-bold-condensed'>Episode Title</label>
  <%= @episode.episode_title %><br/>

  <label class='title-episode-bold-condensed'>Season</label>
  <%= @episode.season %><br/>

  <label class='title-episode-bold-condensed'>Episode</label>
  <%= @episode.episode %><br/>

  <label class='title-episode-bold-condensed'>Year</label>
  <%= @episode.year %>
</p>



<div class='col-xs-2'>
  <table class="table">
      <thead class='title-episode-bold'>
          <tr>
              <th class='col-xs-1'>BSS Title ID</th>
              <th></th>
          </tr>
      </thead>

      <tbody>
          <% @episode.bss_title_ids.each do |bss| %>
              <tr>
                  <td><b><%= link_to bss.bss_title_id, edit_bss_title_id_path(bss, source: :episode_show) %></b></td>
                  <td><%= link_to 'Edit', edit_bss_title_id_path(bss, source: :episode_show) %></td>
                  <td><%= link_to 'Destroy', bss_title_id_path(bss, source: :episode_show), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <td></td>
              </tr>
          <% end %>
      </tbody>
  </table>
</div>
<div class='col-xs-10'></div>

<br/>
<p>
  <%= link_to 'Add a BSS Title ID', action: :add_bss_title_id, id: @episode, source: :episode_show %>
</p>


<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
