<% content_for(:title) do%>
	  Episode: <%= @episode.title.title || @episode.episode_title %> Sky Clarity Media Management
<% end %>

<p>
  <label>Title</label>
  <%= @episode.title.title unless @episode.title.nil? %>
</p>

<p>
  <label>Episode Title</label>
  <%= @episode.episode_title %>
</p>

<p>
  <label>Season</label>
  <%= @episode.season %>
</p>

<p>
  <label>Episode</label>
  <%= @episode.episode %>
</p>

<p>
  <label>Year</label>
  <%= @episode.year %>
</p>




<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
