<%= form_for(@channel_type) do |f| %>
  <% if @channel_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@channel_type.errors.count, "error") %> prohibited this channel_type from being saved:</h2>

      <ul>
      <% @channel_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: 'title-episode-bold'%><br>
    <%= f.text_field :name, :autofocus => true, :class => "form-control field-normal" %>
  </div>
  <div class="form-check">
    <div class="field">
      <%= f.label :tx, 'TX', class: 'title-episode-bold' %><br>
      <%= f.check_box :tx %>
    </div>
    <div class="field">
      <%= f.label :has_promotion, 'Has Promotion', class: 'title-episode-bold' %><br>
      <%= f.check_box :has_promotion %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit nil, :class => "btn btn-default" %>
  </div>

<% end %>
