<%= form_for(@channel_type) do |f| %>
  <% if @channel_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@channel_type.errors.count, "error") %> prohibited this channel_type from being saved:</h2>

      <ul>
      <% @channel_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :tx %><br>
    <%= f.check_box :tx %>
  </div>
  <div class="field">
    <%= f.label :has_promotion %><br>
    <%= f.check_box :has_promotion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
