<% content_for(:title) do%>
	Titles: Sky Clarity Media Management
<% end %>


<h3 class="title-episode-bold">Titles</h3>

<%= form_tag titles_path, :method => 'get', :class => 'form-inline' do %>
    <span class="input-group-btn">
        <%= text_field_tag :search, params[:search], {:class => 'form-control field-title-search', :placeholder => "Search", :autofocus => true} %>
        <%= button_tag type: 'submit', :class => 'btn btn-default' do %>
            <i class='glyphicon glyphicon-search'></i>
        <% end %>
        <%= button_tag "Clear", type: :reset, :class => 'btn btn-default' %>
    </span>
<% end %>

<%= my_paginate @titles %>
<table class="table table-condensed">
    <thead>
        <tr>
            <th class="title-episode-bold">Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @titles.each do |title| %>
            <tr>
                <td><b><%= link_to title.title, title %></b></td>
                <td class='table-links'><%= link_to 'Show', title %> <td><%= link_to 'Edit', edit_title_path(title) %> <%= link_to 'Destroy', title, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= my_paginate @titles %>
<p>
    <%= link_to 'New Title', new_title_path %>
</p>




