<% content_for(:title) do%>
	Titles: Sky Clarity Media Management
<% end %>


<h3 class="title-episode-bold">Titles</h3>
<%= render 'search', path: titles_path, remote: false %>
<%= my_paginate @titles %>
<table class="table table-condensed">
    <thead>
        <tr>
            <th class="title-episode-bold">Title</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @titles.each do |title| %>
            <tr>
                <td><b><%= link_to title.title, title %></b></td>
                <td><%= title.num_episodes %></td>
                <td class='table-links'><%= link_to 'Show', title %> <%= link_to 'Edit', edit_title_path(title) %> <%= link_to 'Destroy', title, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= my_paginate @titles %>
<p>
    <%= link_to 'New Title', new_title_path %>
</p>





