<% content_for(:title) do%>
	  Title: <%= @title.title %> Sky Clarity Media Management
<% end %>

<p><div class='title-episode-bold'><b>Title</b></div>
<div class='title-normal'><%= @title.title %></div></p>

<p>
    <% if @season_list.count > 2 %>
        <%= form_tag @title, method: 'get' do %>
            <%= label_tag(:season_choice, "Season", :class => 'title-episode-bold')%>
            <%= select_tag :season_choice, options_for_select(@season_list, params[:season_choice]), :class => 'form-control title-episode-bold drop-down-normal', onchange: 'this.form.submit()'%><br/>
        <% end %>
    <% end %>
</p>

<p class='title-episode-bold'><b><%= pluralize(@episode_list.count, 'Episode')%></b></p>

    <table class="table">
        <thead>
            <tr class='title-episode-bold'>
                <th class = "table-links">Episode title</th>
                <th class = "table-links">Season</th>
                <th class = "table-links">Episode</th>
                <th class = "table-links">Year</th>
                <th class = "table-links">BSS Title IDs</th>
                <th class = "table-links">Links</th>
                <th class = "table-links">Links</th>
                <th class = "table-links">Links</th>
            </tr>
        </thead>

        <tbody>
          <div class='row'>
            <% @episode_list.each do |episode| %>
                <tr>
                    <td class='col-xs-2'><b><%= link_to episode.episode_title, episode %></b></td>
                    <td class='col-xs-1'><%= episode.season %></td>
                    <td class='col-xs-1'><%= episode.episode %></td>
                    <td class='col-xs-1'><%= episode.year %></td>
                    <td class='col-xs-2'><%= episode.bss_title_ids.count %></td>
                    <span class='col-xs-1'>
                      <td><%= link_to 'Show', episode %></td>
                      <td><%= link_to 'Edit', edit_episode_path(episode, source: :title_show, season_choice: params[:season_choice]) %></td>
                      <td><%= link_to 'Destroy', episode_path(episode, source: :title_show, season_choice: params[:season_choice]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </span>
                </tr>
            <% end %>
          </div>
        </tbody>
    </table>

<p>
   <%= link_to 'Add an Episode', action: :add_episode, id: @title, source: :title_show %>
</p>

<%= link_to 'Edit Title', edit_title_path(@title) %> |
<%= link_to 'Back', :back %>

    
    
