<% content_for(:title) do%>
	  Title: <%= @title.title %> Sky Clarity Media Management
<% end %>

<p>
<label>Title</label>
<%= @title.title %>
</p>

<%= form_tag @title, method: 'get' do %>
	<label>Seasons</label> <%= select_tag :season_choice, options_for_select(@season_list, params[:season_choice]), onchange: 'this.form.submit()'%><br/>
<% end %>

<label><%= pluralize(@title.episodes.count, 'Episode')%></label>
<table>
	<thead>
		<tr>
			<th>Episode title</th>
			<th>Season</th>
			<th>Episode</th>
			<th>Year</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @episode_list.each do |episode| %>
			<tr>
				<td><%= episode.episode_title %></td>
				<td><%= episode.season %></td>
				<td><%= episode.episode %></td>
				<td><%= episode.year %></td>
				<td><%= link_to 'Edit', edit_episode_path(episode, source: :title_show) %></td>
				<td><%= link_to 'Destroy', episode, method: :delete, source: :title_show, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<p>
		<%= link_to 'Add an Episode', action: :add_episode, id: @title, source: :title_show %>
</p>

<%= link_to 'Edit Title', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %>
