<% content_for(:title) do%>
	  Title: <%= @title.title %> Sky Clarity Media Management
<% end %>

<p><div class='title-episode-bold'><b>Title</b></div>
<div class='title-normal'><%= @title.title %></div></p>

<p>
    <% if @season_list.count > 2 %>
        <%= form_tag @title, method: 'get' do %>
            <%= label_tag(:season_choice, "Season", :class => 'title-episode-bold')%>
            <%= select_tag :season_choice, options_for_select(@season_list, params[:season_choice]), :class => 'form-control title-episode-bold drop-down-normal', onchange: 'this.form.submit()'%><br/>
        <% end %>
    <% end %>
</p>

<p class='title-episode-bold'><b><%= pluralize(@episode_list.count, 'Episode')%></b></p>
<div class="row">
  <div class='col-xs-12'>
    <table class="table-condensed">
        <thead>
            <tr class='title-episode-bold'>
                <th class='col-xs-4'>Episode title</th>
                 <span class='col-xs-2'>
                  <span>
                    <th>Details</th>
                    <th>BSS Title IDs</th>
                    <th></th>
                  </span>
                </span>
            </tr>
        </thead>

        <tbody>
          <div class='row'>
            <% @episode_list.each do |episode| %>
                <tr>
                    <td><b><%= link_to episode.episode_title, episode %></b></td>
                    <td><%= episode.season_episode_year %></td>
                    <td><%= episode.bss_title_ids.count %></td>
                    <td><%= link_to 'Show', episode %> <%= link_to 'Edit', edit_episode_path(episode, source: :title_show, season_choice: params[:season_choice]) %> 
                    <%= link_to 'Destroy', episode_path(episode, source: :title_show, season_choice: params[:season_choice]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
          </div>
        </tbody>
    </table>
  </div>
</div>
<p>
   <%= link_to 'Add an Episode', action: :add_episode, id: @title, source: :title_show %>
</p>

<%= link_to 'Edit Title', edit_title_path(@title) %> |
<%= link_to 'Back', :back %>

    
    
