<% content_for(:title) do%>
	<%= 'Log In: Sky Clarity Media Management' %>
<% end %>

<div class='title-episode-bold'><b>Log In</b></div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class: 'title-episode-bold' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control field-normal' %>
  </div>

  <div class="field">
    <%= f.label :password, class: 'title-episode-bold' %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control field-normal' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me, class: 'field-check-box' %>
      <%= f.label :remember_me, class: 'title-episode-bold' %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: 'btn btn-default'  %>
  </div>
<% end %>
<p>
  <%= render "devise/shared/links" %>
</p>
