<%= form_for(@bss_title_id) do |f| %>
  <% if @bss_title_id.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bss_title_id.errors.count, "error") %> prohibited this bss_title_id from being saved:</h2>

      <ul>
      <% @bss_title_id.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :source %>

  <div class="field">
    <%= f.label :bss_title_id, "BSS Title ID", class: 'title-episode-bold' %><br>
    <%= f.text_field :bss_title_id, :autofocus => true, :class => "form-control field-full" %>
  </div>

  <% if @bss_title_id.source == 'episode_show'%>
  	<%= f.hidden_field :episode_id %>
  <% else %>
    <div class="field">
      <%= f.label :episode_id %><br>
      <%= f.number_field :episode_id %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Update BSS Title ID", :class => "btn btn-default"%>
  </div>
<% end %>
