<% content_for(:title) do%>
	BSS Title IDs: Sky Clarity Media Management
<% end %>


<h3 class="title-episode-bold">BSS Title IDs</h3>

<%= form_tag bss_title_ids_path, :method => 'get', :class => 'form-inline' do %>
    <span class="input-group-btn">
        <%= text_field_tag :search, params[:search], {:class => 'form-control field-title-search', :placeholder => "Search", :autofocus => true} %>
        <%= button_tag type: 'submit', :class => 'btn btn-default' do %>
            <i class='glyphicon glyphicon-search'></i>
        <% end %>
        <%= button_tag "Clear",  :class => 'btn btn-default', :onclick =>'document.getElementById("search").value=""' %>
    </span>
<% end %>
<br>
<%= my_paginate @bss_title_ids %>

<table class='table table-condensed'>
  <thead>
    <tr class='title-episode-bold'>
      <th>BSS Title ID</th>
      <th>Title</th>
      <th>Episode</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bss_title_ids.each do |bss_title_id| %>
      <tr>
        <td><%= bss_title_id.bss_title_id %></td>
        <td><%= bss_title_id.episode.title.title unless bss_title_id.episode.nil?||bss_title_id.episode.title.nil? %></td>
        <td><%= bss_title_id.episode.episode_description unless bss_title_id.episode.nil? %></td>
        <td class='table-links'><%= link_to 'Show', bss_title_id %> <%= link_to 'Edit', edit_bss_title_id_path(bss_title_id, source: :bss_index) %> <%= link_to 'Destroy', bss_title_id, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= my_paginate @bss_title_ids %>
<p>
  <%= link_to 'New BSS Title ID', new_bss_title_id_path %>
</p>
