<% content_for(:title) do%>
	  BSS Title ID: <%= @bss_title_id.episode.title.title || @bss_title_id.episode.episode_title || @bss_title_id.bss_title_id %> Sky Clarity Media Management
<% end %>

<p>
  <div class='title-episode-bold'><b>Title</b></div>
  <div class='title-normal'><%= @bss_title_id.episode.title.title unless @bss_title_id.episode.title.nil? %></div>
</p>

<p>
  <label class='title-episode-bold-condensed'>Episode Title</label>
  <%= @bss_title_id.episode.episode_title %>

  <% if @bss_title_id.episode.season.present? %>
    <label class='title-episode-bold-condensed'>Season</label>
    <%= @bss_title_id.episode.season %>
  <% end %>

  <% if @bss_title_id.episode.episode.present? %>  
    <label class='title-episode-bold-condensed'>Episode</label>
    <%= @bss_title_id.episode.episode %>
  <% end %>

  <% if @bss_title_id.episode.year.present? %>
    <label class='title-episode-bold-condensed'>Year</label>
    <%= @bss_title_id.episode.year %>
  <% end %>

<p>
  <label class='title-episode-bold-condensed'>BSS Title ID</label>
  <%= @bss_title_id.bss_title_id %>
</p>

<div class='row'>
  <div class='col-sm-6'>
    <table class="table">
      <thead class='title-episode-bold'>
          <tr>
              <th>Channel(s)</th>
              <th>Clip(s)
              <th></th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <%= render 'channel_data' %>
          <% @bss_title_id.clips.each do |clip| %>
            <td><%= clip.name %></td>
            <td class='table-links'><%= link_to 'Remove (does not work)', remove_channel_bss_title_id_path(id: @bss_title_id, channel_id: clip) %> </td>
          <% end %>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Edit', edit_bss_title_id_path(@bss_title_id) %> |
<%= link_to 'Back', :back %>
<br>


<%= link_to 'Show Channels', '#', :id => 'myLink' %>
<br>

<% if params[:search].present? %>
  <div class = 'channel-display' id='channel-search'>
<% else %>
  <div class = 'channel-display'>
<% end %>
  <br>

  <%= form_tag @bss_title_id, :method => 'get', :class => 'form-inline', :remote => true do %>
    <span class="input-group-btn">
        <%= text_field_tag :search, params[:search], {:class => 'form-control field-title-search', :placeholder => "Search", :autofocus => true} %>
        <%= button_tag type: 'submit', :class => 'btn btn-default', :name => nil do %>
            <i class='glyphicon glyphicon-search'></i>
        <% end %>
        <%= button_tag "Clear", type: :button, :class => 'btn btn-default', :onclick =>'document.getElementById("search").value=""' %>
    </span>
  <% end %>
  
  <br>
  <div id = 'bss-title-id-channels'>
    <%= render 'channels' %>
  </div>

</div>

