<p id="notice"><%= notice %></p>

<p>
  <strong>Bss title:</strong>
  <%= @bss_title_id.bss_title_id %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @bss_title_id.episode_id %>
</p>

<%= link_to 'Edit', edit_bss_title_id_path(@bss_title_id) %> |
<%= link_to 'Back', bss_title_ids_path %>
