<p id="notice"><%= notice %></p>

<p>
  <strong>Bss title:</strong>
  <%= @bss_tilte_id.bss_title_id %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @bss_tilte_id.episode_id %>
</p>

<%= link_to 'Edit', edit_bss_tilte_id_path(@bss_tilte_id) %> |
<%= link_to 'Back', bss_tilte_ids_path %>
