<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= (yield :refresh) %>
		<title><%= (yield :title) || 'MuVi2 Sky Clarity Media Management' %></title>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag "", :media => "all" %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/navigation' %>
		<div id="main">
			<p style="color: green">
			<% if flash[:notice] != nil %>
				<% flash[:notice].split(". ").each do |fl| %>
					<%= fl %> <br />
				<% end %>
			<% end %>
			</p>
				
			<%= yield :layout %>
		</div>
	</body>
</html>
