<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= (yield :refresh) %>
		<title><%= (yield :title) || 'MuVi2 Sky Clarity Media Management' %></title>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag "programme", "scaffold", :media => "all" %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
<body id="store">
		<div id="banner">
			<%= image_tag("logo_muvi2_sky.png") %>
			<%= @page_title || "MuVi2 Sky Clarity Media Management" %>
		</div> 
		<div id="columns">
			<div id="side">
				<p>Version 1.0 BETA</p>
				<%= link_to 'Home', root_url%><br /> 
				<%= link_to 'Titles', titles_path%><br />
				<%= link_to 'Episodes', episodes_path%><br />
			</div> 
			<div id="main">
				<p style="color: green">
					<% if flash[:notice] != nil %>
						<% flash[:notice].split(". ").each do |fl| %>
							<%= fl %> <br />
						<% end %>
					<% end %>
				</p>
				<%= yield :layout %>
			</div>
		</div>
</body>
</html>
